@model IEnumerable<MojKatalog.Models.Poraki>
@foreach (var poraka in Model)
{
    var klients = poraka.Klienti.Take(3).ToList();
    string names = "";
    foreach (var klient in klients)
    {
        names = klient.Ime + " " + klient.Prezime + ";";
    }
    names = names.Substring(0, names.Length - 1) + "...";
    var subject = (poraka.Subject.Length > 50) ? poraka.Subject.Substring(0, 50) + "..." : poraka.Subject;
    <div class="list-group-item">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="izbrishani-check" value="@poraka.IdPoraki" style="margin-top:8px !important;" />
            </label>
        </div>
        <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px; display: inline-block;">@names</span> 
        <span class="">@subject</span>
        <a style="cursor:pointer;" data-idporaka="@poraka.IdPoraki">
            <span class="text-muted" style="font-size: 11px;">- Повеќе содржина</span>
        </a>
            <span class="badge">@poraka.Date.Value.ToString("dd/MM/yyyy hh:mm:ss")</span> <span class="pull-right"></span>
</div>
}