@model IEnumerable<MojKatalog.Models.ViewModels.PublishedWebSiteViewModel>
    @{
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }

    <input type="hidden" id="activeLink" value="indexLink" />
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Портфолио</h1>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
            {
            <div class="col-md-2">
                <div class="thumbnail">
                    <div class="fill-screen" style="background-image: url(@(item.ImageUrl)); height:150px;"></div>
                    <div class="caption">
                        <h3>@item.Naziv</h3>
                        <p>@item.Opis</p>
                        <p><b>Објевено од: </b><i>@item.Sopstvenik</i></p>
                        <p>
                            <a href="@Url.Action("PrikaziSajt", "Home", new { Id = item.WebSiteId})" class="btn btn-primary" role="button">Прегледај</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>


