@model IEnumerable<MojKatalog.Models.ViewModels.ViewKataloziKategorii>

@{
    ViewBag.Title = "Index";
}
<input type="hidden" id="activeLink" value="katalogLink" />

<h3 class="page-title">Каталози <small>управување со каталози</small></h3>
<ul class="breadcrumb">
    <li class="active">Каталози</li>
</ul>

<div class="container-fluid" id="alert-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-dismissible alert-success">
                Промените се успешно сочувани!
            </div>
        </div>
    </div>
</div>

<p class="bs-component btn-create btnkatalog">
    <a href="/Katalog/DodadiKatalog/" role="button" class="btn btn-default btn-lg btn-block">Креирај Каталог</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNaKreiranje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewKategorii)
            </th>
            <th>Акции</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr id="row-@(item.IdKatalog)">
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @if (item.Opis == null)
                    {
                        <text></text>
                    }
                    else
                    {
                        FormatString(item.Opis);
                    }
                  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNaKreiranje)
                </td>
                <td>
                    @FormatString(item.ViewKategorii)
                </td>
                <td>
                    <a href="@Url.Action("IzmeniKatalog", new { id = item.IdKatalog })" title="Измени"><span class="glyphicon glyphicon-edit"></span></a>&nbsp 
                    <a href="@Url.Action("IzbrisiKatalog", new { id = item.IdKatalog })" onClick="if(!confirm('Дали сте сигурни?')) return false;" title="Избриши"><span class="glyphicon glyphicon-trash"></span></a>&nbsp 
                    <a href="@Url.Action("PregledajKatalog", new { id = item.IdKatalog })" title="Прегледај"><span class="glyphicon glyphicon-eye-open"></span></a>
                </td>
            </tr>
           
        }

    </tbody>

</table>
@helper FormatString(string val)
{
    if (val.Length > 45)
    {
    <text>@val.Substring(0, 45)...</text>
    }
    else
    {
    <text>@val</text>
    }
}
<script src="~/Areas/Portfolio/Scripts/jquery-1.10.2.js"></script>
<script src="~/Areas/Portfolio/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/effects.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#alert-content").hide();
        if("@ViewBag.RowSuccess" == "row-0"){
            $("#alert-content").hide().fadeIn("slow");
            setTimeout(function () { $("#alert-content").fadeOut("slow"); }, 2000);
        }
        $("#" + "@ViewBag.RowSuccess").addClass("success fade").addClass("in");
        setTimeout(function () { 
            $("#" + "@ViewBag.RowSuccess").removeClass("success fade in", 3000, "linear"); }, 2000);
    });
    </script>