@model MojKatalog.Models.Katalozi

@{
    ViewBag.Title = "PregledajKatalog";
    int idnew = Model.IdKatalozi;
}

<h3 class="page-title">Прегледај Каталог <small>детален преглед на Каталог</small></h3>
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Katalog")">Каталози</a></li>
    <li class="active">Прегледај Каталог</li>
</ul>

<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <legend>Каталог</legend>
            @Html.HiddenFor(model=>model.IdKatalozi)
            <div class="form-group">
                @Html.LabelFor(model => model.NazivNaKatalog, new { @class = "col-lg-1 col-md-2 control-label" })
                <div class="col-lg-10" style="padding-top:12px;">
                    <text>@Model.NazivNaKatalog</text>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OpisNaKatalog, new { @class = "col-lg-1 col-md-2 control-label" })
                <div class="col-lg-10" style="padding-top:12px;">
                    <text>@Model.OpisNaKatalog</text>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 col-md-2 control-label">Креиран на</label>
                <div class="col-lg-10" style="padding-top:12px;">
                     @if (Model.DataNaKreiranje.HasValue)
                    {
                        <text> @Model.DataNaKreiranje.Value.ToString("dd/MM/yyyy hh:mm") </text>
                    }
                    else
                    {
                        <text> / </text>
                    }
                </div>
            </div>


        </fieldset>
    </form>
</div>


<p>
    @Html.ActionLink("Измени", "IzmeniKatalog", new { id = Model.IdKatalozi }) |
    @Html.ActionLink("Назад кон листата", "Index")
</p>
@section KategorijaIndexStyles
{
    <link rel="stylesheet" href="~/Plugins/jstree/dist/themes/default/style.min.css" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Plugins/jstree/dist/jstree.min.js"></script>
    <script src="~/Scripts/Katalog/PregledajKatalogJs.js"></script>
}