@model MojKatalog.Models.ViewModels.WSettingsKatalogKorisnikViewModel
@using MojKatalog.Models.ViewModels
@{
    Layout = null;
    int numberOfElements = 14;
    string zanasText = "";
    string[] sections = { "pocetna", "zanas", "footerZaNas", "portfolio", "footerPortfolio", "contact", "header", "footer" };
    string[] sectionTitlesPoedinec = { "Почетна", "За Мене", "За Мене Футер", "Портфолио", "Портфолио Футер", "Контакт", "Мени", "Футер" };
    string[] sectionTitlesKompanija = { "Почетна", "За Нас", "За Нас Футер", "Портфолио", "Портфолио Футер", "Контакт", "Мени", "Футер" };
    string[] sectionTitles = null;
    if(@Model.Poedinec!=null){
        sectionTitles = sectionTitlesPoedinec;
        zanasText = "За мене";
    }
    else 
    {
        sectionTitles = sectionTitlesKompanija;
        zanasText = "За нас";
    }
   

    var user = (LoggedInEntity)Session["LoggedInEntity"];

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/Content/bootstrap/css/bootstrap-theme-flaty.css" rel="stylesheet" />
    <link href="~/Areas/Portfolio/Content/CustomPortfolio.css" rel="stylesheet" />
    <link href="" rel="stylesheet" id="style-color1" />
    <link href="" rel="stylesheet" id="style-color2" />
    <title>Index</title>
</head>
<body>
    @using (Ajax.BeginForm("IzmeniPortfolio", "Portfolio", new AjaxOptions { HttpMethod = "Post", OnSuccess = "SuccessNotification" }, new { enctype = "multipart/form-data", id = "editorForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            @Html.HiddenFor(model => model.WSettings.IdKatalozi)
            @Html.HiddenFor(model => model.WSettings.Naziv)
            @Html.HiddenFor(model => model.WSettings.FontColor1)
            @Html.HiddenFor(model => model.WSettings.FontColor2)
            @Html.HiddenFor(model => model.WSettings.BGPocetna, new { @data_bgsection = "pocetna" })
            @Html.HiddenFor(model => model.WSettings.BGZaNas, new { @data_bgsection = "zanas" })
            @Html.HiddenFor(model => model.WSettings.BGFZaNas, new { @data_bgsection = "footerZaNas" })
            @Html.HiddenFor(model => model.WSettings.BGPortfolio, new { @data_bgsection = "portfolio" })
            @Html.HiddenFor(model => model.WSettings.BGFPortfolio, new { @data_bgsection = "footerPortfolio" })
            @Html.HiddenFor(model => model.WSettings.BGContact, new { @data_bgsection = "contact" })
            @Html.HiddenFor(model => model.WSettings.BGMenu, new { @data_bgsection = "header" })
            @Html.HiddenFor(model => model.WSettings.BGFooter, new { @data_bgsection = "footer" })

            @*Editor Begin*@
            <div id="editor-button">
                <a class="background-editor-link">
                    <i class="glyphicon glyphicon-cog"></i>
                </a>
            </div>
            <div id="editor">
                <div id="editor-container">
                    <div class="modal-header">
                        <a class="activeNav" data-mnav="font-content"><h5 class="modal-title">ФОНТ</h5></a>
                        <a data-mnav="pozadina-content"><h5 class="modal-title">ПОЗАДИНА</h5></a>
                        <a data-mnav="povece-content"><h5 class="modal-title">ПОВЕЌЕ</h5></a>
                    </div>
                    @*Modal Alert*@
                    <div class="container-fluid" id="alert-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-dismissible alert-success">
                                    Промените се успешно сочувани!
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Modal Font Content Begin*@
                    <div class="modal-body container-fluid" id="font-content">
                        <div class="row">
                            <div class="col-xs-4 modal-col-left">
                                <label class="label-control">Избери фонт:</label>
                            </div>
                            <div class="col-xs-8">
                                @Html.DropDownListFor(model => model.WSettings.FontFamily, new SelectList(
                                    new List<Object>{
                                    new { value = "PTSansNarrow" , text = "PT Sans Narrow"  },
                                    new { value = "OpenSansLight" , text = "Open Sans Light"  },
                                    new { value = "OpenSans-Regular" , text = "Open Sans Regular" },
                                    new { value = "Raleway-Regular" , text = "Raleway Regular" },
                                    },
                                    "value",
                                    "text", 2),
                                    new { @id = "select", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 modal-col-left">
                                <label class="label-control">Избери боја:</label>
                            </div>
                            <div class="col-xs-8">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 modal-col-left">
                                <label class="label-control">1</label>
                            </div>
                            <div class="col-xs-8">
                                <ul class="color-palet">
                                    <li class="color-darkBlueLighter" data-color="darkBlueLighter"></li>
                                    <li class="color-darkBlueDarker color-active" data-color="darkBlueDarker"></li>
                                    <li class="color-lightBlueLighter" data-color="lightBlueLighter"></li>
                                    <li class="color-lightBlueDarker" data-color="lightBlueDarker"></li>
                                    <li class="color-greenLighter" data-color="greenLighter"></li>
                                    <li class="color-greenDarker" data-color="greenDarker"></li>
                                    <li class="color-orangeLighter" data-color="orangeLighter"></li>
                                    <li class="color-orangeDarker" data-color="orangeDarker"></li>
                                    <li class="color-redLighter" data-color="redLighter"></li>
                                    <li class="color-redDarker" data-color="redDarker"></li>
                                    <li class="color-darkGreyLighter" data-color="darkGreyLighter"></li>
                                    <li class="color-darkGreyDarker" data-color="darkGreyDarker"></li>
                                    <li class="color-lightGreyLighter" data-color="lightGreyLighter"></li>
                                    <li class="color-lightGreyDarker" data-color="lightGreyDarker"></li>
                                    <li class="color-white" data-color="white"></li>
                                    <li class="color-black" data-color="black"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 modal-col-left">
                                <label class="label-control">2</label>
                            </div>
                            <div class="col-xs-8">
                                <ul class="color-palet">
                                    <li class="color-darkBlueLighter" data-color="darkBlueLighter"></li>
                                    <li class="color-darkBlueDarker" data-color="darkBlueDarker"></li>
                                    <li class="color-lightBlueLighter" data-color="lightBlueLighter"></li>
                                    <li class="color-lightBlueDarker" data-color="lightBlueDarker"></li>
                                    <li class="color-greenLighter color-active" data-color="greenLighter"></li>
                                    <li class="color-greenDarker" data-color="greenDarker"></li>
                                    <li class="color-orangeLighter" data-color="orangeLighter"></li>
                                    <li class="color-orangeDarker" data-color="orangeDarker"></li>
                                    <li class="color-redLighter" data-color="redLighter"></li>
                                    <li class="color-redDarker" data-color="redDarker"></li>
                                    <li class="color-darkGreyLighter" data-color="darkGreyLighter"></li>
                                    <li class="color-darkGreyDarker" data-color="darkGreyDarker"></li>
                                    <li class="color-lightGreyLighter" data-color="lightGreyLighter"></li>
                                    <li class="color-lightGreyDarker" data-color="lightGreyDarker"></li>
                                    <li class="color-white" data-color="white"></li>
                                    <li class="color-black" data-color="black"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @*Modal Font Content End*@
                    @*Modal Background Content Begin*@
                    <div class="modal-body container-fluid" id="pozadina-content">

                        <div class="row">
                            <div class="col-xs-5">
                                <label class="label-control">Избери секција:</label>
                            </div>
                            <div class="col-xs-7">
                                <select class="form-control" id="select-section">
                                    <option value="pocetna-section">Почетна</option>
                                    <option value="zanas-section">@zanasText</option>
                                    <option value="footerZaNas-section">@zanasText Футер</option>
                                    <option value="portfolio-section">Портфолио</option>
                                    <option value="footerPortfolio-section">Портфолио Футер</option>
                                    <option value="contact-section">Контакт</option>
                                    <option value="header-section">Мени</option>
                                    <option value="footer-section">Футер</option>
                                </select>
                            </div>
                        </div>

                        @for (int i = 0; i < sections.Length; i++)
                        {
                            @*<input type="hidden" name="dataUri" class="dataUri" id="dataUri-@(sections[i])" value="" />*@
                            @*Pocetna Begin*@
                            <div class="row section @(sections[i])-section">
                                <div class="row section-header">
                                    <h5><b>@sectionTitles[i]</b></h5>
                                </div>
                                <div class="row section-body-color">
                                    <div class="col-xs-4">
                                        <input class="pozadina-boja" name="pozadina-@(sections[i])" type="radio" value="boja">
                                        Боја
                                    </div>
                                    <div class="col-xs-8">
                                        @*//TODO: Da se kreira PartialView za color-palet*@
                                        <ul class="color-palet" data-section="@(sections[i])">
                                            <li class="color-darkBlueLighter" data-color="darkBlueLighter"></li>
                                            <li class="color-darkBlueDarker color-active" data-color="darkBlueDarker"></li>
                                            <li class="color-lightBlueLighter" data-color="lightBlueLighter"></li>
                                            <li class="color-lightBlueDarker" data-color="lightBlueDarker"></li>
                                            <li class="color-greenLighter" data-color="greenLighter"></li>
                                            <li class="color-greenDarker" data-color="greenDarker"></li>
                                            <li class="color-orangeLighter" data-color="orangeLighter"></li>
                                            <li class="color-orangeDarker" data-color="orangeDarker"></li>
                                            <li class="color-redLighter" data-color="redLighter"></li>
                                            <li class="color-redDarker" data-color="redDarker"></li>
                                            <li class="color-darkGreyLighter" data-color="darkGreyLighter"></li>
                                            <li class="color-darkGreyDarker" data-color="darkGreyDarker"></li>
                                            <li class="color-lightGreyLighter" data-color="lightGreyLighter"></li>
                                            <li class="color-lightGreyDarker" data-color="lightGreyDarker"></li>
                                            <li class="color-white" data-color="white"></li>
                                            <li class="color-black" data-color="black"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row section-body-image">
                                    <div class="col-xs-4">
                                        <input class="pozadina-slika" name="pozadina-@(sections[i])" type="radio" value="slika">
                                        Слика
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="thumbnail">
                                            <div class="image-uploaded Image1 fill-screen"></div>
                                            <div class="caption">
                                                @*Begin Input File*@
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <span class="btn btn-primary btn-file">
                                                                    Browse…

                                                                    <input class="FileUpload1" id="file_@i" type="file" name="files@(i)" data-section="@(sections[i])">
                                                                </span>
                                                            </span>
                                                            <input type="text" class="form-control image-input" readonly="" accept=".jpg,.png,.gif">
                                                        </div>
                                                    </div>
                                                </form>
                                                @*End Input File*@

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Pocetna End*@
                        }

                    </div>
                    @*Modal Background Content End*@
                    @*Modal Povece Content Begin*@
                    <div class="modal-body container-fluid" id="povece-content">
                        <div class="row">
                            <div class="col-xs-4 modal-col-left">
                                <label class="label-control">Измени наслов:</label>
                            </div>
                            <div class="col-xs-8">
                                <input class="form-control nazivNaWS" type="text" value="@(Model.WSettings.Naziv)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 modal-col-left">
                                <label class="label-control">Избери боја:</label>
                            </div>
                            <div class="col-xs-8">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 modal-col-left">
                                <label class="label-control">1</label>
                            </div>
                            <div class="col-xs-8">
                           
                            </div>
                        </div>
                
                    </div>
                    @*Modal Povece Content End*@
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
                        <button id="save" type="submit" class="btn btn-primary">Сочувај</button>
                    </div>
                </div>

            </div>
            @*Editor End*@
        </fieldset>
    }

    @*Begin Section Pocetna*@
    <section id="pocetna" class="container-fluid">
        <div class="row">
            <div id="default" class="fill-screen" style="background-image: url(../../../../Areas/Portfolio/Images/HomeBackgroundImage.jpg)">
                <header>
                    <nav class="navbar navbar-default main-menu navbar-static-top">
                        <div id="default" class="fill-screen">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <span class="brand"><b><span class="color-1">ИМЕ</span><span class="color-2">ПРЕЗИМЕ</span></b></span>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a href="#pocetna">Почетна</a></li>
                                        <li><a href="#zanas">@zanasText</a></li>
                                        <li><a href="#portfolio">Портфолио</a></li>
                                        <li><a href="#contact">Контакт</a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </div>
                    </nav>
                </header>
            </div>
        </div>
    </section>
    @*End Section Pocetna*@

    @*Begin Section ZaNas*@
    <section id="zanas" class="container-fluid">
        <div class="row">
            <div id="default" class="fill-screen">
                <div class="section-content">
                    <h2>
                        <span>
                            @if (Model.Poedinec != null)
                            {
                                <span class="color-1">За</span> <span class="color-2">мене</span>
                            }
                            else
                            {
                                <span class="color-1">За</span> <span class="color-2">нас</span>
                            }
                           
                            <h />
                        </span>
                    </h2>
                    <span class="zanas-content">
                        <span class="color-1">
                            @if (Model.Poedinec != null)
                            {
                                @Model.Poedinec.OpisNaPoedinec
                            }
                            else
                            {
                                @Model.Kompanija.OpisNaKompanija;
                            }
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </section>
    @*End Section ZaNas*@

    @*Begin Section FooterZaNas*@
    <section id="footerZaNas" class="container-fluid">
        <div class="row">
            <div class="fill-screen" style="background-image: url(../../../../Areas/Portfolio/Images/AboutFooter.jpg)">
                <div class="section-content">
                    <h2>
                        <span class="color-1">THE DETAILS ARE NOT THE DETAILS</span>
                        <br /> <strong><span class="color-2">THEY MAKE THE DESIGN</span></strong>
                        <br /> <em><span class="color-1">KEEN THEMES</span></em>
                    </h2>
                </div>
            </div>
        </div>
    </section>
    @*End Section FooterZaNas*@

    @*Begin Section Portfolio*@
    <section id="portfolio" class="container-fluid">
        <!--TabBable  Begin-->
        <div class="row">
            <div class="fill-screen">
                <div class="section-content">
                    <h2>
                        <span class="color-1">
                            Портфолио
                            <h />
                        </span>
                    </h2>
                    <div class="tabbable tabbable-current" id="tabbable0">
                        <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs nav-kategorii">
                            @foreach (var kategorija in Model.Katalog.Kategorii)
                            {
                                <li><a href="#tab@(kategorija.IdKategorii)" data-parentid="@(kategorija.RoditelId)" data-toggle="tab">@kategorija.NazivNaKategorija</a></li>

                            }

                        </ul>
                        <div class="tab-content tab-thumbnails" style="padding-bottom: 9px;">
                            @foreach (var kategorija in Model.Katalog.Kategorii)
                            {
                                <div class="tab-pane" id="tab@(kategorija.IdKategorii)" data-proizvodicount="@(kategorija.Proizvodi.Count())">
                                    <p><span class="color-1">@kategorija.NazivNaKategorija</span></p>
                                    <!--Well Begin-->
                                    <div class="well-none">
                                        <div id="myCarousel@(kategorija.IdKategorii)" class="carousel slide">
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">

                                                @foreach (var proizvod in kategorija.Proizvodi)
                                                {
                                                    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2 flex-thumbnail">
                                                        <div class="thumbnail thumbnail-proizvodi" style="background-image: url(@proizvod.SlikaNaProizvod)">
                                                            <div class="caption">
                                                                <h4>Proizvod</h4>
                                                                <p>
                                                                    link
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                            <!--/carousel-inner-->
                                            <a class="left carousel-control" href="#myCarousel@(kategorija.IdKategorii)" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>

                                            <a class="right carousel-control" href="#myCarousel@(kategorija.IdKategorii)" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                        </div>
                                        <!--/myCarousel-->
                                    </div>
                                    <!--/well-->
                                    <p><em><span class="color-1">Подкатегории</span></em></p>

                                    <div class="tabbable" style="margin-left:20px; margin-right:20px;">
                                        <!-- Only required for left/right tabs -->
                                        <ul class="nav nav-tabs nav-podkategorii">
                                            @foreach (var podkategorija in kategorija.Kategorii1)
                                            {
                                                <li><a href="#tab@(podkategorija.IdKategorii)" data-parentid="@podkategorija.RoditelId" data-toggle="tab">@podkategorija.NazivNaKategorija</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--TabBable  End-->
    </section>
    @*End Section Portfolio*@

    @*Begin Section FooterPortfolio*@
    <section id="footerPortfolio" class="container-fluid">
        <div class="row">
            <div class="fill-screen" style="background-image: url(../../../../Areas/Portfolio/Images/AboutFooter.jpg)">
                <div class="section-content">
                    <h2>
                        <span class="color-1">THE DETAILS ARE NOT THE DETAILS</span>
                        <br /> <strong><span class="color-2">THEY MAKE THE DESIGN</span></strong>
                        <br /> <em><span class="color-1">KEEN THEMES</span></em>
                    </h2>
                </div>
            </div>
        </div>
    </section>
    @*End Section FooterPortfolio*@

    @*Begin Section Contact*@
    <section id="contact" class="container-fluid">
        <div class="row">
            <div class="fill-screen">
                <div class="section-content">
                    <div class="row">

                        <h2>
                            <span class="color-1">
                                Контакт
                                <h />
                            </span>
                        </h2>
                    </div>

                    <div class="row" style="padding-top:30px;">
                        @using (Ajax.BeginForm("IspratiPorakaOdWS", "Portfolio", new AjaxOptions { HttpMethod = "Post", OnSuccess = "SuccessMailNotification" }))
                        {
                            <div class="row">
                                <div class="col-xs-6"><label></label></div>
                                <div class="col-xs-6">
                                    <div class="container-fluid" id="sent-success">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="alert alert-dismissible alert-success">
                                                    Пораката е успешно Испратена!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="col-xs-6" style="text-align:left; padding-left:30px;">
                                    <label class="color-2">Наслов</label>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="color-2">Тел: @user.Telefon</label>
                                </div>
                                <div class="col-xs-6">
                                    <input class="form-control poraka" name="Subject" type="text">
                                </div>

                            </div>
                            
                            <div class="row">
                                <div class="col-xs-6" >
                                    <label class="color-2">Мејл: @user.Mail</label>
                                </div>
                                <div class="col-xs-6" style="text-align:left; padding-left:30px;">
                                    <label class="color-2">Мејл</label>
                                </div>
                            </div>
                            
                            <div class="row">
                            <div class="col-xs-6"></div>
                            <div class="col-xs-6">

                                <input class="form-control poraka" name="Mail" type="text">
                            </div>
                                </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    </div>
                                <div class="col-xs-6" style="text-align:left; padding-left: 30px;">
                                    <label class="color-2" for="Body">Порака</label>
                                </div>
                                </div>
                            
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="col-xs-6">
                                    <textarea class="form-control poraka" cols="20" name="Body" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6"><label></label></div>
                                <div class="col-xs-6"></div>
                                </div>
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="col-xs-6" style="text-align:left; padding-left: 30px;">
                                    <button type="submit" class="btn btn-primary color-1" name="action:IspratiMail" onclick="if(!confirm('Дали сте сигурни дека сакате да ја испратите пораката?')) return false;" style="background-color:white;">
    Испрати </button>
                            </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
    @*End Section Contact*@

    <footer class="container-fluid">
        <div class="row">
            <div class="fill-screen">
                <div class="section-content">
                @if (Model.Kompanija != null)
                {
                    <span class="color-1">@Model.Kompanija.NazivNaKompanija</span>
                }
                else
                {
                    <span class="color-1">@Model.Poedinec.Ime @Model.Poedinec.Prezime</span>
                }
                    </div>
            </div>
        </div>
    </footer>


    <script src="~/Areas/Portfolio/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Areas/Portfolio/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Portfolio/Scripts/draggable_background.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">

        var colors=["darkBlueLighter","darkBlueDarker","lightBlueLighter","lightBlueDarker","greenLighter","greenDarker","orangeLighter","orangeDarker","redLighter","redDarker","darkGreyLighter","darkGreyDarker","lightGreyLighter","lightGreyDarker","white","black"];
        var sections=["pocetna","zanas","footerZaNas","portfolio","footerPortfolio","contact","header","footer"];
        var backgroundValues=['@(Model.WSettings.BGPocetna)','@(Model.WSettings.BGZaNas)','@(Model.WSettings.BGFZaNas)','@(Model.WSettings.BGPortfolio)','@(Model.WSettings.BGFPortfolio)','@(Model.WSettings.BGContact)','@(Model.WSettings.BGMenu)','@(Model.WSettings.BGFooter)'];

        var radioButtonClickEvent= function(section){
            $('.' + section + '-section .pozadina-slika[name="pozadina-'+section+'"]').click(function(){
                $("." + section + "-section .color-palet li").css("opacity","0.5").addClass("removeHoverBorder");

                var bg_img = "";
                var imageContent = $("." + section + "-section .image-input").val();
                if(imageContent.length > 0) {

                    var imageUrl = $("." + section + "-section .image-uploaded").css("background-image").slice(0, -1);
                    imageUrl = imageUrl.slice(4, imageUrl.length);

                    bg_img = imageUrl;
                }
                else {
                    bg_img = $("." + section + "-section .image-uploaded").css("background-image").replace(/.*Areas/,"/Areas").slice(0,-1);
                }
                changeBackgroundImageStyle(bg_img,section);

                $("." + section + "-section .section-body-image .thumbnail").css("opacity","");
                $("." + section + "-section .section-body-image .btnRemoveHover").removeClass("btnRemoveHover").addClass("btn-primary");
                $("." + section + "-section .section-body-image .thumbnail input").attr('disabled', false);
            });
            $('.' + section + '-section .pozadina-boja[name="pozadina-'+section+'"]').click(function(){
                $("." + section + "-section .color-palet li").css("opacity","").removeClass("removeHoverBorder");
                var bgColor=$("." + section + "-section .color-palet li.color-active").attr("data-color");
                changeColorStyle(bgColor,section);//website

                $("." + section + "-section .section-body-image .thumbnail").css("opacity","0.5");
                $("." + section + "-section .section-body-image .btn-primary").removeClass("btn-primary").addClass("btnRemoveHover");
                $("." + section + "-section .section-body-image .thumbnail input").attr('disabled', true);
            });
        };

        var backgroundSettingsOnLoad=function(section,background,defaultBackgroundImage){
            radioButtonClickEvent(section);
            if(isColor(background)){
                var bgColor=$(".color-"+background).attr("data-color");
                changeColorStyle(bgColor,section);//website
                $('.'+section+'-section li.color-active').removeClass('color-active');//editor
                $('.'+section+'-section li.color-'+background).addClass('color-active');//editor
                $("."+section+"-section .pozadina-boja").click();
                //DefaultImage
                $('.'+section+'-section .Image1').show();//editor
                $('.'+section+'-section .Image1').css('background-image', 'url(' + defaultBackgroundImage + ')');//editor

            }
            else{
                changeBackgroundImageStyle(background,section);//website
                $('.'+section+'-section .Image1').show();//editor
                $('.'+section+'-section .Image1').css('background-image', 'url(' + background + ')');//editor
                $("."+section+"-section .pozadina-slika").click();

            }



        };
        var colorPaletClickEvent=function(sect){

            $('#pozadina-content .color-palet[data-section="'+sect+'"] li').click(function(){

                if($('input[name=pozadina-'+sect+']:checked', '.'+sect+'-section').val()=="slika"){

                    return false;
                }else{
                    $('#pozadina-content .color-palet[data-section="'+sect+'"] li.color-active').removeClass('color-active');
                    $(this).addClass('color-active');
                    var color=$(this).attr("data-color");
                    var section = $(this).parent().attr("data-section");
                    changeColorStyle(color,section);
                }
            });
        };
        var changeNazivNaWS=function(){
            var naziv= $(".nazivNaWS").val();
            var nazivArray=naziv.split(" ");
            var arrayLength=nazivArray.length;
            var nazivColor1=nazivArray.slice(0,arrayLength/2).join("");
            var nazivColor2=nazivArray.slice(arrayLength/2,arrayLength).join("");
            $(".brand .color-1").text(nazivColor1);
            $(".brand .color-2").text(nazivColor2);
            $("#WSettings_Naziv").val(naziv);
        }
        var onLoad=function(){
            var background;
            var defaultBackgroundImage="/Areas/Portfolio/Images/DefaulImage.png";
            var defaultBackgroundColor="darkBlueDarker";

            //Font-Family
            $('body').css('font-family', '@(Model.WSettings.FontFamily)'); //website
            $("select").val('@(Model.WSettings.FontFamily)');//editor
            //FontColor1
            setColor1('@(Model.WSettings.FontColor1)');//website
            $('#font-content .color-palet:first li.color-active').removeClass('color-active');//editor
            $("#font-content .color-palet:first li.color-"+'@(Model.WSettings.FontColor1)').addClass('color-active');//editor
            //FontColor2
            setColor2('@(Model.WSettings.FontColor2)');
            $('#font-content .color-palet:last li.color-active').removeClass('color-active');//editor
            $("#font-content .color-palet:last li.color-"+'@(Model.WSettings.FontColor2)').addClass('color-active');//editor
            //Backgrounds
            $.each( sections, function( index, value ){
                background=backgroundValues[index];
                backgroundSettingsOnLoad(value,background,defaultBackgroundImage);
            });

            //Naziv
            changeNazivNaWS();

            //Galerija
            /* $(".proizvodiCount").each(function(index){
                 alert($(this).val());
             });*/

            $("body").on("click",".tabbable .nav-kategorii li",function(){
                if(!$(this).closest(".tabbable").hasClass("tabbable-current")){
                    var tabbableEl = $(this).closest(".tabbable").attr("id");
                    var pId = $(this).closest(".tabbable").attr("id").replace("tabbable","");
                    var url = "/Portfolio/Portfolio/DodadiGalerija/";

                    $.get(url, { parentId:pId, katalogId: @Model.Katalog.IdKatalozi } ,function (data) {
                        $("#"+tabbableEl).html(data);
                        $('[id^="myCarousel"]').carousel({
                            interval: 0
                        })


                        $('[id^="myCarousel"]').on('slid.bs.carousel', function () {
                            //alert("slid");
                        });

                        $("#portfolio .nav-kategorii li:first").addClass("active");
                        $("#portfolio  .tab-pane:first").addClass("active");
                        initializeTiles();
                        /*$(".proizvodiCount").each(function(index){
                            alert($(this).val());
                        });*/
                    });

                }
            });
            $("body").on("click",".tabbable .nav-podkategorii li",function(){

                var pId=$(this).children("a").attr("data-parentId");

                var url = "/Portfolio/Portfolio/DodadiGalerija/";
                $.get(url, { parentId:pId, katalogId: @Model.Katalog.IdKatalozi } ,function (data) {

                    $(".tabbable.tabbable-current").removeClass("tabbable-current");
                    $(".tab-content:last").html(data);
                    $('[id^="myCarousel"]').carousel({
                        interval: 0
                    })


                    $('[id^="myCarousel"]').on('slid.bs.carousel', function () {
                        //alert("slid");
                    });

                    $("#portfolio .nav-kategorii li:first").addClass("active");
                    $("#portfolio  .tab-pane:first").addClass("active");
                    initializeTiles();
                    /*$(".proizvodiCount").each(function(index){
                        alert($(this).val());
                    });*/
                });
            });


        }
        var isColor=function(color){
            if($.inArray(color,colors)>-1){
                return 1;
            }
            else{
                return 0;
            }
        }
        var isValidHexColor=function(color){
            return  /(^#[0-9A-F]{6}$)|(^#[0-9A-F]{3}$)/i.test(color);
        }
        var setColor1=function(color1){
            $('#style-color1').attr("href","/Areas/Portfolio/Content/TextColor/Color-1/"+color1+".css" );
            //Change the value of Hidden element FontColor1
            $("#FontColor1").val(color1);
        }
        var setColor2=function(color2){
            $('#style-color2').attr("href","/Areas/Portfolio/Content/TextColor/Color-2/"+color2+".css" );
            //Change the value of Hidden element FontColor2
            $("#FontColor2").val(color2);
        }
        var changeColorStyle=function(style,section){
            var bgColor=$('.color-palet[data-section="'+section+'"] li[data-color="'+style+'"]').css("background-color");
            $('input[data-bgsection="'+section+'"]').val(style);
            if($('#'+section+' .fill-screen').length>0){
                $('section#'+section+' .fill-screen:first').css("background-image","");
                $('section#'+section+' .fill-screen:first').css("background-color",bgColor);
            }else{
                $(section+' .fill-screen').css("background-image","");
                $(section+' .fill-screen').css("background-color",bgColor);

            }
        }
        var changeBackgroundImageStyle=function(style,section){
            if(style.indexOf("/Areas/Portfolio/Images/")!=-1)
            {
                $('input[data-bgsection="'+section+'"]').val(style);
            }
            else
            {
                var uri=style;
                var subUri = uri.split(',');

                $('input[data-bgsection="'+section+'"]').val(subUri[1]);
            }
            if($('#'+section+' .fill-screen').length>0){
                $('#'+section+' .fill-screen:first').css("background-image",'url(' +style + ')');
                $('#'+section+' .fill-screen:first').css("background-color","");
            }
            else{
                $(section+' .fill-screen').css("background-image",'url(' + style + ')');
                $(section+' .fill-screen').css("background-color","");
            }
        }
        var SuccessNotification=function(){
            //Editor Post Success
            $("#alert-content").fadeIn("slow");
            setTimeout(function() { $("#alert-content").fadeOut("slow"); }, 5000);
        } 
        var SuccessMailNotification=function(){
            //Contact Post Success
            $(".poraka").val("");
            $("textarea .poraka").text("");
            $("#sent-success").fadeIn("slow");
            setTimeout(function() { $("#sent-success").fadeOut("slow"); }, 5000);
        }

        $(document).ready(function () {
            //OnLoad
            onLoad();
            $("#alert-content").hide();
            $("#sent-success").hide();
            //Draggable Begin
            $('#default').backgroundDraggable();
            $('#default').backgroundDraggable({
                done: function() {
                    backgroundPosition = $('div').css('background-position');
                    console.log(backgroundPosition);
                }
            });

            //Affix
            $('.navbar').affix({
                offset: {
                    top: window.innerHeight
                }
            });
            //Scrollspy
            $("body").scrollspy({
                target: ".navbar",
                offset: 60
            });

            $("header").css("padding-top",window.innerHeight-60);


            //SmoothScrolling
            $('.main-menu a[href*=#]:not([href=#])').click(function (e) {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('body').animate({
                            scrollTop: target.offset().top - 59
                        }, 1000);
                        $(this).blur();
                        return false;
                    }
                }
            });

            //SetDivToWindowInnerHeight
            $(window).on("load resize", function () {
                $("#pocetna").css("height", window.innerHeight);
            });
            //CarouselAndThumbnailGallery
            $('[id^="myCarousel"]').carousel({
                interval: 0
            })


            $('[id^="myCarousel"]').on('slid.bs.carousel', function () {
                //alert("slid");
            });

            $("#portfolio .tabbable:first .nav li:first").addClass("active");
            $("#portfolio .tabbable:first .tab-pane:first").addClass("active");

            initializeTiles();
            //Editor Begin
            $('.modal-body#font-content').show();
            $('.modal-body#pozadina-content').hide();
            $('.modal-body#povece-content').hide();

            $('#editor-button').click(function()
            {
                $('#editor-button i').toggleClass('glyphicon-remove glyphicon-cog');
                $('#editor-container').toggle("slide", { direction: "right" }, 1000);
            });
            $('.modal-header a').click(function(){
                $('.activeNav').removeClass('activeNav');
                $(this).addClass('activeNav');
                $('.modal-body').hide();
                $("#"+$(this).attr('data-mnav')).fadeIn("slow");

            });
            //Font
            $('#font-content .color-palet:first li').click(function(){
                $('#font-content .color-palet:first li.color-active').removeClass('color-active');
                $(this).addClass('color-active');
                var color1 =$(this).attr("data-color");
                setColor1(color1);


            });
            $('#font-content .color-palet:last li').click(function(){
                $('#font-content .color-palet:last li.color-active').removeClass('color-active');
                $(this).addClass('color-active');
                var color2 =$(this).attr("data-color");
                setColor2(color2);

            });
            $('#select').change(function(){
                var fontFamilyValue = $('#select').val();
                $('body').css('font-family', fontFamilyValue);
            });
            //Background
            //Section Selection
            $("#pozadina-content .section:not(.pocetna-section)").hide();
            $('#select-section').change(function(){
                var section = $('#select-section').val();
                $("#pozadina-content .section").hide();
                $("#pozadina-content .section."+section).show();
            });
            $.each( sections, function( index, value ){
                colorPaletClickEvent(value);
            });

            //Thumbnail Image Upload Form
            $('.FileUpload1').change(function () {
                var section = $(this).attr("data-section");
                var imgSelector='.'+section+'-section'+' .Image1';
                $(imgSelector).hide();
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(imgSelector).show();
                    $(imgSelector).css('background-image', 'url(' + e.target.result + ')');
                    changeBackgroundImageStyle(e.target.result,section);
                    var uri=e.target.result;
                    var subUri = uri.split(',');

                    $('input[data-bgsection="'+section+'"]').val(subUri[1]);

                }
                reader.readAsDataURL($(this)[0].files[0]);
            });

            //Editor End

        }); //END of document.ready

        function initializeTiles() {
            //ToDo: Dinamicko generiranje na elementsInGroup

            $(".tab-thumbnails .tab-pane").each(function() {
                var thumbnails = $(this).find(".flex-thumbnail");
                var elementsInGroup =getNumberOfItems($(this).attr("data-proizvodicount"));
                for(var i = 0; i < thumbnails.length; i+=elementsInGroup) {
                    var active = (i == 0) ? " active" : "";
                    thumbnails.slice(i, i+elementsInGroup).wrapAll('<div class="item'+ active +'"><div class="row"></div></div>');
                }
            });


        }

        function getNumberOfItems(number){
            var numberOfElements = number;
            var numberOfItems = 0;
            var elementsInGroup = 0;
            //VisualBreakpoint=xs
            if (window.matchMedia("(max-width: 767px)").matches) {
                numberOfItems = Math.ceil(numberOfElements/4);
                elementsInGroup = 4;
            };
            //VisualBreakpoint=sm
            if (window.matchMedia("(min-width: 768px)").matches) {
                numberOfItems = Math.ceil(numberOfElements/6);
                elementsInGroup = 6;
            };
            //VisualBreakpoint=md
            if (window.matchMedia("(min-width: 992px)").matches) {
                numberOfItems = Math.ceil(numberOfElements/8);
                elementsInGroup = 8;
            };
            //VisualBreakpoint=lg
            if (window.matchMedia("(min-width: 1200px)").matches) {
                numberOfItems = Math.ceil(numberOfElements/12);
                elementsInGroup = 12;
            };
            return(elementsInGroup);
        }

        $(document).on("change",".nazivNaWS",function(){
            changeNazivNaWS();
        });

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });



        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });
    </script>
</body>
</html>