@model IEnumerable<MojKatalog.Models.ViewModels.ViewProizvodiKategorii>

@{
    ViewBag.Title = "Index";
}
<input type="hidden" id="activeLink" value="proizvodLink" />
<h3 class="page-title">Производи <small>управување со производи и нивно категоризирање</small></h3>
<ul class="breadcrumb">
    <li class="active">Производи</li>
</ul>
<table class="table table-striped table-hover table-kategorii">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.MVKategorija.NazivNaKategorija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MVVkupnoPodkategorii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MVVkupnoProizvodi)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    
        <tbody>
            <tr onclick="window.document.location='/Proizvod/PregledajProizvodi/@(item.MVKategorija.IdKategorii)';">
                <td>
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MVKategorija.NazivNaKategorija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MVVkupnoPodkategorii)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MVVkupnoProizvodi)
                </td>

            </tr>
        </tbody>
    }
</table>
@*<div class="row">
 @foreach (var item in Model)
 {
        <div class="col-xs-6 col-sm-4 col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <a href="/Proizvod/Index/@(item.MVKategorija.IdKategorii)" class="kategorijaLink">
                <h4>@item.MVKategorija.NazivNaKategorija</h4>
                </a>
                <p>Подкатегории: @item.MVKategorija.Kategorii1.Count()<br/>
                   Производи: @item.MVProizvodi.Count()
                </p>
            </div>
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </div>
    </div>
 }
</div>

@for (int i = 0; i < 10; i++) 
{
     <div class="col-xs-6 col-sm-4 col-md-3">            
        <div class="thumbnail">
            <div class="caption">
                <h4>Thumbnail Headline</h4>
                <p>short thumbnail description</p>
                <p><a href="#" class="label label-danger">Zoom</a>
                <a href="#" class="label label-default">Download</a></p>
            </div>
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </div>
    </div>
}
    
    <div class="col-xs-6 col-sm-4 col-md-3">            
        <div class="thumbnail" style="background-image: url('http://olindaschool.com.br/conteudo/uploads/2014/10/cameras.jpg')">
            <div class="caption">
                <h4>Thumbnail Headline</h4>
                <p>short thumbnail description</p>
                <p><a href="#" class="label label-danger">Zoom</a>
                <a href="#" class="label label-default">Download</a></p>
            </div>
    </div>
    </div>
     </div>*@

@section Scripts
{
    <script src="~/Scripts/Proizvod/IndexJs.js"></script>
}