@model MojKatalog.Models.Proizvodi
@{
    ViewBag.Title = "Прегледај Производ";
    List<MojKatalog.Models.ViewModels.ViewBreadcrumb> breadcrumb = ViewBag.BreadCrumb;
    int breadcrumbLength = breadcrumb.ToList().Count;
}

<input type="hidden" id="activeLink" value="proizvodLink" />
<h3 class="page-title">Прегледај Производ <small>податоци за производот</small></h3>
<ul class="breadcrumb">
    <li class="active"><a href="@Url.Action("Index", "Proizvod")">Производи</a></li>
    @if (breadcrumbLength >= 3)
    {
        <li class="active"><a href="@Url.Action("PregledajProizvodi", "Proizvod", new { id = breadcrumb[2].Id })">...</a></li>
        for (int i = 1; i >= 0; i--)
        {
        <li class="active"><a href="@Url.Action("PregledajProizvodi", "Proizvod", new { id = breadcrumb[i].Id })">@breadcrumb[i].Name</a></li>
        }
    }
    else
    {
        for (int i = breadcrumbLength - 1; i >= 0; i--)
        {
        <li class="active"><a href="@Url.Action("PregledajProizvodi", "Proizvod", new { id = breadcrumb[i].Id })">@breadcrumb[i].Name</a></li>
        }
    }
    <li class="active">@Model.NazivNaProizvod</li>
</ul>

<div class="row">
    <div class="col-lg-7 proizvod-slika" style="text-align: center !important;">
        <img src="@(Model.SlikaNaProizvod)" style="max-width:100% !important;"/>
    </div>
    <div class="col-lg-5 proizvod-info">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>@Model.NazivNaProizvod</legend>
                    @Html.HiddenFor(model => model.IdProizvodi)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Specifikacija, new { @class = "col-lg-1 col-md-2 control-label" })
                        
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            @Model.Specifikacija
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cena, new { @class = "col-lg-1 col-md-2 control-label" })
                        
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            @Model.Cena
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Popust, new { @class = "col-lg-1 col-md-2 control-label" })
                        
                    </div>
                    <div class="form-group">
                      
                        <div class="col-lg-12">
                            @Model.Popust
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dostapnost, new { @class = "col-lg-1 col-md-2 control-label" })
                        
                    </div>
                     <div class="form-group">
                       
                        <div class="col-lg-12">
                            @Model.Dostapnost
                        </div>
                    </div>

                    


                </fieldset>
            </form>
        </div>
    </div>
</div>
