@model MojKatalog.Models.Kompanii

@{
    ViewBag.Title = "IzmeniKompanijaInfo";
    var status = ViewBag.Status;
}

<h3 class="page-title">Податоци за компанијата <small>преглед и измена на податоците</small></h3>
<div class="well bs-component">
    @using (Html.BeginForm("IzmeniKompanijaInfo", "Kompanija", FormMethod.Post, new { enctype = "multipart/form-data", id = "editorForm", @class = "form-horizontal" }))
            {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            @Html.HiddenFor(model => model.IdKompanii)
            @Html.HiddenFor(model => model.LogoNaKompanija)
            @Html.HiddenFor(model => model.ProfilnaSlika)
            <legend></legend>
            @*Modal Alert*@

            @if (ViewBag.Status == "success")
            {
                <div class="container-fluid" id="alert-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-dismissible alert-success">
                                Промените се успешно сочувани!
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(m => m.ProfilnaSlika, new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    <div class="thumbnail" style="width:210px; margin-bottom:0px;">
                        @if (Model.ProfilnaSlika != null)
                        {
                            <div class="image-uploaded Image2 fill-screen" style="background-image: url(@(Model.ProfilnaSlika));"></div>
                        }
                        else
                        {
                            <div class="image-uploaded Image2 fill-screen" style="background-image: url(../../Images/Profile/ProfileImage.jpg); width:200px; height:200px;"></div>
                        }
                        <div class="caption" style="padding-bottom:0px;">
                            @*Begin Input File*@
                            <form class="form-horizontal">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse…
                                                <input class="FileUpload2" type="file">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control image-input" readonly="" accept=".jpg,.png,.gif">
                                    </div>
                                </div>
                            </form>
                            @*End Input File*@

                        </div>
                    </div>
                   
                </div>
            </div>
           
            <div class="form-group">
                @Html.LabelFor(m => m.NazivNaKompanija, new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.NazivNaKompanija, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NazivNaKompanija)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.KorisnickoIme, new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.KorisnickoIme, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.KorisnickoIme)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Lozinka, new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.Lozinka, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Lozinka)
                </div>
            </div>

        
            <div class="form-group">
                @Html.LabelFor(m => m.OpisNaKompanija, new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    @Html.TextAreaFor(m => m.OpisNaKompanija, new { @class = "form-control", style = "height:100px;" })
                    @Html.ValidationMessageFor(m => m.OpisNaKompanija)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Mail, new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Mail)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Telefon, new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Telefon)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LogoNaKompanija, new { @class = "control-label col-lg-4" })
                <div class="col-lg-8">
                    <div class="thumbnail">
                        <div class="image-uploaded Image1 fill-screen" style="background-image: url(@(Model.LogoNaKompanija));"></div>
                        <div class="caption" style="padding-bottom:0px;">
                            @*Begin Input File*@
                            <form class="form-horizontal" style="margin-bottom:0px;">
                                <div class="form-group" style="margin-bottom:0px;">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse…
                                                <input class="FileUpload1" type="file">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control image-input" readonly="" accept=".jpg,.png,.gif">
                                    </div>
                                </div>
                            </form>
                            @*End Input File*@

                        </div>
                    </div>
                </div>
            </div>
           
            

            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary">Сочувај</button>
                    <button type="button" class="btn btn-default">Откажи</button>
                </div>
            </div>
        </fieldset>

    }
</div>
<script src="~/Areas/Portfolio/Scripts/jquery-1.10.2.js"></script>
<script src="~/Areas/Portfolio/Scripts/jquery-ui.js"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
       
        var status = "@status";
        if (status == "success")
        {
            $("#alert-content").hide().fadeIn("slow");
            setTimeout(function () { $("#alert-content").fadeOut("slow"); }, 5000);
        }

        $(".btn-default").click(function () {
            var url = "/Kompanija/Index/";
            window.location.href = url;
        });
        //FileUpload
        $('.FileUpload1').change(function () {
            $('.Image1').hide();
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.Image1').show();
                $('.Image1').css('background-image', 'url(' + e.target.result + ')');
                var uri = e.target.result;
                var subUri = uri.split(',');
                $("#LogoNaKompanija").val(subUri[1]);

            }
            reader.readAsDataURL($(this)[0].files[0]);
        });
        $('.FileUpload2').change(function () {
            $('.Image2').hide();
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.Image2').show();
                $('.Image2').css('background-image', 'url(' + e.target.result + ')');
                var uri = e.target.result;
                var subUri = uri.split(',');
                $("#ProfilnaSlika").val(subUri[1]);

            }
            reader.readAsDataURL($(this)[0].files[0]);
        });

        
    });
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });



    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
    });
  
</script>




