@model IEnumerable<MojKatalog.Models.ViewModels.ViewKlienti>

<tbody>
    @foreach (var klientiGroup in Model)
    {
        <tr class="letter-row">
            <td colspan="2">@klientiGroup.Karakter</td>
        </tr>
        foreach (var klient in klientiGroup.Klienti)
        {
        <tr>
            <td>
                <input type="checkbox" name="selectedKlients" value="@klient.IdKlienti"/>
            </td>
            <td>
                <label>@klient.Ime</label>
                <label>@klient.Prezime</label>
                <br />
                <small>@klient.Mail</small>
            </td>
        </tr>
        }
    }
</tbody>

