@model MojKatalog.Models.ChangePasswordModel
@using MojKatalog.Helpers.Enumerations;
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    string userMessage = (Model.UserType == LogedUserTypeEnum.Poedinec) ? "Промена на лозинка за поединец" : "Промена на лозинка за компанија";
}


<div class="row">
    <div class="col-lg-6 col-lg-offset-3" style="margin-top:100px;">

        <div class="well bs-component">

            @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <input type="hidden" name="UserType" value="@Model.UserType" />
                <fieldset>
                    <legend>@userMessage</legend>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"> Корисничко име</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Корисничко име" })
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"> Стара лозинка</label>
                        <div class="col-lg-8">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Стара лозинка"})
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"> Нова лозинка</label>
                        <div class="col-lg-8">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Лозинка"})
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label"> Потврди лозинка</label>
                        <div class="col-lg-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Потврди лозинка" })
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <button type="submit" class="btn btn-primary">Измени</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
