@model MojKatalog.Models.LoginModel
@using MojKatalog.Helpers.Enumerations;
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Log in";
    var userType = (Model == null) ? 0 : (int)Model.UserType;
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3" style="margin-top:100px;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab@((int)LogedUserTypeEnum.Poedinec)" aria-controls="tab@((int)LogedUserTypeEnum.Poedinec)" role="tab" data-toggle="tab">Поединец</a></li>
            <li role="presentation"><a href="#tab@((int)LogedUserTypeEnum.Kompanija)" aria-controls="tab@((int)LogedUserTypeEnum.Kompanija)" role="tab" data-toggle="tab">Компанија</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab@((int)LogedUserTypeEnum.Poedinec)">

                <div class="well bs-component">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        
                        <input type="hidden" name="UserType" value="@((int)LogedUserTypeEnum.Poedinec)"/>
                        <fieldset>
                            <legend>Најава на поединец</legend>
                            <div class="form-group">
                                <label class="col-lg-4 control-label"> Корисничко име</label>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Корисничко име" })
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-4 control-label"> Лозинка</label>
                                <div class="col-lg-8">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Лозинка"})
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-lg-8 col-lg-offset-4">
                                    <button type="submit" class="btn btn-primary">Најави Се</button>
                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <p>
                            @Html.ActionLink("Регистрирајте се", "Register")
                        </p>
                        <p>
                            @Html.ActionLink("Промени лозинка", "ChangePassword", new { userType = (int)LogedUserTypeEnum.Poedinec })
                        </p>
                    }
                </div>

            </div> <!-- END OF POEDINEC TAB-->

            <div role="tabpanel" class="tab-pane" id="tab@((int)LogedUserTypeEnum.Kompanija)">
                
                <div class="well bs-component">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <input type="hidden" name="UserType" value="@((int)LogedUserTypeEnum.Kompanija)" />
                        <fieldset>
                            <legend>Најава на компанија</legend>
                            <div class="form-group">
                                <label class="col-lg-4 control-label"> Корисничко име</label>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Корисничко име" })
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-4 control-label"> Лозинка</label>
                                <div class="col-lg-8">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Лозинка" })
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-lg-8 col-lg-offset-4">
                                    <button type="submit" class="btn btn-primary">Најави Се</button>
                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <p>
                            @Html.ActionLink("Регистрирајте се", "RegisterKompanija")
                        </p>
                        <p>
                            @Html.ActionLink("Промени лозинка", "ChangePassword", new { userType = (int)LogedUserTypeEnum.Kompanija })
                        </p>
                    }
                </div>

            </div><!-- END OF KOMPANIJA TAB-->
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {
            var userType = "@userType";
            //open the apropriate tab
            $(".nav-tabs a[href='#tab"+ userType +"']").tab("show");
        });
    </script>
}
