@model MojKatalog.Models.RegisterKompanijaModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3" style="margin-top:100px;">

        <ul class="nav nav-tabs">
            <li ><a href="@Url.Action("Register", "Account")">Поединец</a></li>
            <li class="active"><a href="@Url.Action("RegisterKompanija", "Account")"> Компанија</a></li>
        </ul>
        <div class="well bs-component">
        @using (Html.BeginForm("RegisterKompanija", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Регистрација на компанија</legend>
                   
                    <div class="form-group">
                        @Html.LabelFor(m => m.Naziv, new { @class = "control-label col-lg-4" })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(m => m.Naziv, new { @class = "form-control", placeholder = "Назив" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.KorisnickoIme, new { @class = "control-label col-lg-4" })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(m => m.KorisnickoIme, new { @class = "form-control", placeholder = "Корисничко име" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label col-lg-4" })
                        <div class="col-lg-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Лозинка" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-lg-4" })
                        <div class="col-lg-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Потврди лозинка" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label col-lg-4" })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Mail" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Telefon, new { @class = "control-label col-lg-4" })
                        <div class="col-lg-8">
                            @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control", placeholder = "Телефон" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-4">Лого</label>
                        <div class="col-lg-8">
                            @*Begin Input File*@
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse…
                                        <input type="file" name="file" multiple="">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>
                            @*End Input File*@
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <button type="submit" class="btn btn-primary">Регистрирај Се</button>
                        </div>
                    </div>
                </fieldset>
                <p>
                    @Html.ActionLink("Најави се", "Login")
                </p>
            }
        </div>

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });
</script>
}
